:root {
  --main-color: #343a40;
  --secondary-color: #495057;
  --button-color: #0a3871;
}
* {
  box-sizing: border-box;
}
body {
  align-items: center;
  background-color: #f3f5fc;
  display: flex;
  font-family: system-ui;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  width: 80vw;
}

.user-interactivity {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
}
.encrypt__header {
  display: flex;
}
.encrypt__header h1 {
  color: var(--main-color);
  font-family: serif;
  font-size: 1.5rem;
  font-weight: 800;
}
.encrypt__header img {
  object-fit: contain;
}
.encrypt-form {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 30%;
  justify-content: space-between;
  width: 100%;
}
.encrypt-form textarea {
  align-items: end;
  border: none;
  border-radius: 15px;
  display: flex;
  font-family: inherit;
  font-size: 1.3rem;
  height: 100%;
  line-break: auto;
  padding: 1.5rem 1rem;
  resize: none;
  width: 100%;
}
.encrypt-form textarea:focus {
  outline: 3px solid #86b7fe;
}
.encrypt-form span {
  align-items: center;
  color: var(--secondary-color);
  display: flex;
  font-size: 14px;
  gap: 4px;
  justify-content: center;
}
.encrypt-form span img {
  filter: grayscale(80%);
}
.encrypt-buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 2rem auto;
  width: 100%;
}
.encrypt-buttons__encrypt,
.encrypt-buttons__decrypt {
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  min-width: 250px;
  padding: 0.7rem 1.5em;
  transition: background-color 0.2s ease-in-out;
}
.encrypt-buttons__encrypt {
  background-color: var(--button-color);
  color: #fff;
  cursor: pointer;
}
.encrypt-buttons__decrypt {
  background-color: transparent;
  color: var(--button-color);
  outline: 1px solid var(--button-color);
}
.encrypt-buttons__encrypt:hover {
  background-color: #062750;
}
.encrypt-buttons__decrypt:hover {
  outline: 1px solid #062750;
}

.encrypted-response {
  align-items: center;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  display: flex;
  height: 800px;
  justify-content: center;
  margin: 1rem;
  padding: 20px;
  text-align: center;
  width: 400px;
}
.placeholder__title {
  color: var(--main-color);
  font-size: 1.5rem;
}
.placeholder__text {
  color: var(--secondary-color);
  min-height: 50px;
}
.decrypted-text {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  max-height: 320px;
  overflow: auto;
  word-break: break-all;
}
.decrypted-text::-webkit-scrollbar {
  background-color: #fff;
  width: 0.4rem;
}
.decrypted-text::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 0.4rem;
}

footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin: 0 0.7rem;
}
footer a img {
  transition: scale 0.2s ease-in-out;
}
footer a img:hover {
  scale: 1.1;
}
.hidden {
  display: none;
}
.warning {
  color: #dc3545;
}
.copied {
  color: #28a745;
  outline: 1px solid #28a745;
}
.copied:hover {
  color: #1b8033;
  outline: 1px solid #1b8033;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
  .user-interactivity {
    height: 100%;
    width: 100%;
  }
  .encrypted-response {
    height: 400px;
    width: 100%;
  }
}
